body{
    height: 100%;
    width: 100%;
}

/**  The nav bar section**/
.section0{
    position: fixed;
    top: 0;
    width: 100%;
}
.intro {
    padding-top: 100px;
   /* margin-top: 200px;*/
    text-align: center;
    color: white;
}
/** Background image and text***/
.section1{
    background-image: url(/images/bg-image-3.jpg);
/*filter: brightness(50%);*/  /* To dim the brightness */
    background-size: cover;
    margin-top:56px;
}

.section2{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 50px;
}
.section3{
    text-align: center;
    background-color: black;
    color: white;
   
}
.navsection3{
    margin-left: 550px;
}

.buttons a{
    border:1px solid ;
     background: linear-gradient( 95deg,#059dff 15%, #6549d5 45%, #e33fa1 75%,#fb5343 100%)
    98%/200% 100%;
    border-radius:40px;
    padding: 15px;
    color: white;
    text-decoration:none;
}

.buttons a hover{
    box-shadow: 0 0 20px 5px rgb(251 83 67 / 20%);
    color: white
}