body{
    height: 100%;
    width: 100%;
}

/**  The nav bar section**/
.section0{
    position: fixed;
    top: 0;
    width: 100%;
}
.section0 a{
    font-weight: 800;
}
.intro {
    padding-top: 100px;
   /* margin-top: 200px;*/
    text-align: center;
    color: white;
}
.contact :hover{
    background-color: #fb5343;
}
/** Background image and text***/
.section1{
    background-image: url(images/bg-image-3.jpg);
/*filter: brightness(50%);*/  /* To dim the brightness */
    background-size: cover;
    margin-top:56px;
}

.section2{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 50px;
}
.section3{
    text-align: center;
    background-color: black;
    color: white;
   
}
.navsection3{
    margin-left: 550px;
}




/*. hover{
    box-shadow: 0 0 20px 5px rgb(251 83 67 / 20%);
    color: white
}*/
/*
.dark-mode {
    background-color: black;
    color: white;
  }
  */
  .border:hover {
    box-shadow: 0 0 20px 5px rgb(251 83 67 / 20%);
    color: white
  }

  /*.order-first{
      
  }
*/
/***Section 3 images******/
.row img{
    border:1px solid black ;
      border-radius: 10px;
      width:270px;
      height:250px ;
}

.col img{
    width:270px;
      height:250px ;

}
.nav-item a{
    color: grey;
}

.sectionheading{
    font-weight: 800;
    background-color:#28282B rgb(40, 40, 43);
    color: linear-gradient( 95deg,#059dff 15%, #6549d5 45%, #e33fa1 75%,#fb5343 100%);
    
   
}
/*
.col{
    border: 1px solid white;
}
*/
.col :hover{
    transform: scale(1.1);
    transition: all ease-in 0,6s;
    
}


