body{
    height: 100%;
}
.intro {
    margin-top: 200px;
    text-align: center;
    color: white;
}
.section1{
    background-image: url(/images/bg-image-3.jpg);
/*filter: brightness(50%);*/  /* To dim the brightness */
    background-size: cover;
}
.section2{
    text-align: center;
    color: white;
    background-color: black;
}
.section3{
    text-align: center;
}
.navsection3{
    margin-left: 550px;
}

.a{
    text-decoration: none;
    color: white;
    background-color:black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
